* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Hervetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.container {
  padding: 6em 10em;
}

.btn {
  display: inline-block;
  border: none;
  background: #777;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
  box-shadow: 1px 1px 3px #999;
}

.btn:focus {
  background: #999;
}
